@charset "utf-8";@import url("./reset.css"); /* layout */
.inner { width: 100%; max-width: 1400px; height: inherit; margin: auto; } 

.width1400 { margin: auto; max-width: 1400px; width: 100%; } 
.pr { position: relative; } 
.pa { position: absolute; } 
.width100 { width: 100%; } 

.ir_pm { display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999999999px; } 

/* skip_menu */
a { outline: none; } 
a:focus { outline: 1px dashed red; background: #000; color: #fff; } 
.skip_menu { position: fixed; left: 0; top: 0; background-color: #000; color: #fff; padding: 10px 15px; text-decoration: none; transform: translateY(-100%); } 
.skip_menu:focus { transform: translateY(0); } 

/* layer popup */
#layer { display: block; position: fixed; width: 500px; height: 300px; border-radius: 10px; background: #dcdddf; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); z-index: 9999; font-size: 1.1em; padding: 3em; box-sizing: border-box; line-height: 2.5; top: 50px; left: 150px; font-family: "score"; font-weight: 500; } 
#layer button { position: absolute; cursor: pointer; padding: 10px 20px; left: 50%; bottom: 30px; transform: translateX(-50%); background: #3779dc; color: #fff; font-family: "score"; font-weight: 400; } 

/**************** header *****************/
header { /* background-color: transparent; */
 background-color: #3779dc; color: #fff; } 
header .header_top { border-bottom: 1px solid rgba(255, 255, 255, 0.2); } 
header .header_bot { border-bottom: 1px solid rgba(255, 255, 255, 0.2); position: relative; } 

header .header_top ul { display: flex; justify-content: space-between; padding: 0 80px; } 
header .header_top ul a { display: block; padding: 25px 15px 6px; color: #fff; position: relative; } 
header .header_top ul li:last-child a { padding: 25px 15px 6px 50px; } 
header .header_top ul a span { position: absolute; bottom: 0; left: 0; display: inline-block; width: 55px; height: 34px; background: url("../images/character.png") no-repeat 13px bottom; } 

header .header_top ul li:last-child a span:after { position: absolute; content: ""; background: url("../images/h.png") no-repeat; width: 16px; height: 17px; } 
header .logo,
header .sitemap { position: absolute; z-index: 999; } 
header .logo { padding: 0 0 0 95px; line-height: 90px; } 
header .logo h1 span { font-size: 0; width: 95px; display: inline-block; height: 36px; background-image: url("../images/logo.svg"); vertical-align: middle; } 
header .logo h1 a { color: #fff; font-size: 23px; font-weight: bold; letter-spacing: -0.07em; line-height: 1; } 
header .sitemap { right: 0; top: 0; padding: 0 35px 0 0; line-height: 90px; } 
header ul#nav { display: flex; justify-content: flex-end; padding: 0 70px; } 
header ul#nav a { color: #fff; font-size: 18px; } 
.dep2 ul { display: block; } 

/* 투뎁스 100% 배경 */
#nav > li > .width100 { left: 0; } 
#nav > li:hover .width100 { display: block; } 

/* custom */
nav#lnb { height: 90px; background: transparent; } 
nav#lnb li { padding: 0 25px; } 
nav#lnb li a { display: block; line-height: 90px; text-align: center; font-size: 1.2em; font-weight: bold; position: relative; } 

nav#lnb > ul > li a::after { content: ""; width: 8px; height: 8px; border-radius: 8px; background-color: #fff; position: absolute; display: block; top: 20px; left: 50%; margin: 0 0 0 -4px; opacity: 0; transition: 0.5s; } 
nav#lnb > ul > li:hover > a::after { opacity: 1; } 

nav#lnb li#freesamLogo { width: 181px; margin: 0 0 0 25px; } 
nav#lnb .width1400 .m_tit { padding: 0 20px 0 0; } 
nav#lnb .width1400 .m_tit img { display: block; margin: 20px auto; width: 135px; } 
nav#lnb .width100 { background: #fbfbfb; top: 90px; left: 0; z-index: 2; box-shadow: 0 2px 2px rgb(0, 0, 0 /7%); height: 0px; overflow: hidden; transition: all 0.5s; padding: 0 0; } 

/*
nav#lnb li:first-child .width100 { height: auto; padding: 70px 0 50px; } */

nav#lnb li:hover .width100 { height: auto; padding: 70px 0 50px; } 
nav#lnb .width100::before { position: absolute; top: 0; content: ""; background-color: #deecff; border-radius: 0 0 120px 0; width: 100%; height: 100%; right: calc(50% + 24rem); z-index: -1; } 

nav#lnb ul li ul.dep2 { padding: 0 60px; } 
nav#lnb .dep1 ul.width1400 > li { width: calc(100% / 3); margin: 0; padding-left: 20px; } 
li.m_title p { color: #222; font-size: 14px; font-weight: 400; margin: 10px 0 20px; } 

nav#lnb li ul li a { text-align: left; } 
nav#lnb li ul li h2 { font-size: 30px; font-weight: bold; letter-spacing: -2px; text-align: left; color: #00274e; } 
nav#lnb li ul li ul li a { font-weight: bold; line-height: 180%; } 
nav#lnb li ul li a { color: #666; font-size: 0.8em; font-weight: bold; line-height: 170%; padding-left: 10px; } 
nav#lnb li ul li h3 a { color: #00274e; font-size: 17px; border: 1px solid #ccc; border-radius: 5px; font-weight: 300; line-height: 1; margin-bottom: 3px; padding: 17px 24px; display: block; margin: 0 0 15px; } 
nav#lnb li ul li ul li a { font-weight: 300; color: #666; font-size: 1em; } 
nav#lnb li ul li ul li { position: relative; } 
nav#lnb li ul li ul li::after { position: absolute; width: 2px; height: 2px; display: block; background-color: #00274e; left: 20px; top: 50%; content: ""; } 

/* main */

section#main { position: relative; margin-bottom: 50px; } 
section#main::before { content: ""; display: block; background: #3779dc url("../images/mvisual_bg.png") no-repeat center bottom; background-size: 1920px; width: 150vw; height: 990px; overflow: hidden; transform: translateX(-50%); position: absolute; left: 50%; top: -180px; border-radius: 0 0 50% 50%; z-index: -999; } 

/* section#main h5 { color: #fff; font-size: 24px; font-family: "score"; font-weight: 600; text-align: center; padding: 50px 0; } 
section#main h5 span { font-size: 40px; font-weight: 300; line-height: 24px; } 
section#main h5 .tit1:before { position: absolute; left: 327px; background-image: url(../images/mvisual_tit1.png); content: ""; display: block; width: 206px; height: 71px; } 
section#main h5 .tit2:before { position: absolute; right: 278px; top: 40px; background-image: url(../images/mvisual_tit2.png); content: ""; display: block; width: 275px; height: 144px; } 
 */
#main .title { padding-top: 60px; text-align: center; font-size: 24px; color: #fff; font-family: "score"; font-weight: 600; } 
#main .title strong { margin-top: -40px; display: block; font-size: 40px; line-height: 1.2; font-weight: normal; } 
#main .title b { display: inline-block; position: relative; vertical-align: middle; animation: top-bottom 0.8s both; } 
#main .title b:first-child { top: -4px; width: 206px; height: 71px; background: url("../images/mvisual_tit1.png"); font-size: 0; animation-delay: 0.5s; } 
#main .title b:last-child { top: -12px; left: -30px; width: 275px; height: 144px; background: url("../images/mvisual_tit2.png"); font-size: 0; animation-delay: 1s; } 

section#main .inner { padding: 0 100px; } 

/* main-slider */
.slider_wrap { max-width: 1200px; width: 100%; height: 667px; position: relative; } 
#brandVisual { width: 100%; overflow: hidden; height: 100%; box-shadow: 20px 0 20px rgb(0 0 0 / 30%); border-radius: 0 0 270px 0; position: relative; } 
#brandVisual ul { position: relative; width: 100%; height: 100%; } 
#brandVisual ul li { position: absolute; width: 100%; height: 100%; line-height: 667px; } 
#brandVisual ul li img { width: 100%; height: 100%; } 
.visual_1 { left: 0; } 
.visual_2 { left: 100%; } 
.visual_3 { left: 200%; } 

section#main .slider_wrap .subject {position: relative; display: flex; padding: 0 25px; justify-content: space-between; font-size: 20px; color: #000; margin: 30px 24px 0; line-height: 1; } 
section#main .slider_wrap .subject .controls { position: relative; z-index: 10; display: flex; } 
section#main .slider_wrap .subject .controls li a{display: block; width: 100%; height: 100%; margin: 0 6px;}
section#main .slider_wrap .subject .controls li.prev a{position: relative; width: 34px; height: 34px; background-color: #4d647a; border-radius: 50%; margin: 0 4px; vertical-align: middle; } 
section#main .slider_wrap .subject .controls li.prev a::before { position: absolute; top: 50%; width: 9px; height: 9px; border: 1px solid #fff; border-width: 2px 2px 0 0; content: ""; margin-top: -13px; left: 41%; transform: rotate(-135deg) translate(-50%, -50%); } 
section#main .slider_wrap .subject .controls li.next a{position: relative; width: 34px; height: 34px; background-color: #4d647a; border-radius: 50%; margin: 0 4px; vertical-align: middle; } 
section#main .slider_wrap .subject .controls li.next a::before { position: absolute; top: 50%; width: 9px; height: 9px; border: 1px solid #fff; border-width: 2px 2px 0 0; content: ""; margin-top: 2px; left: 31%; transform:rotate(45deg) translate(-50%, -50%); } 

section#main .slider_wrap .subject .controls li.play a{
    position: relative;
    width: 34px;
    height: 34px;
    background: #4d647a;
    border-radius: 50%;
 } 
section#main .slider_wrap .subject .controls li.play a::before { 
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 4.5px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 4.5px solid transparent;
    transform: translate(-50%, -50%);

 } 
section#main .slider_wrap .subject .controls li.stop a{
    position: relative;
    width: 34px;
    height: 34px;
    background: #4d647a;
    border-radius: 50%;
 } 
section#main .slider_wrap .subject .controls li.stop a::before { 
    content: "";
    position: absolute;
    top: 50%;
    left: 13px;
    background-color: #fff;
    width: 2px;
    height: 50%;
    transform: translateY(-50%);
 } 
 section#main .slider_wrap .subject .controls li.stop a::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 13px;
    background-color: #fff;
    width: 2px;
    height: 50%;
    transform: translateY(-50%);
 }

section#main .slider_wrap .subject .controls li.more a{
    position: relative;  
    display: block;
    margin-left: 10px;
    width: 34px;
     height: 34px;
      background-color: #1053a5;
       border-radius: 50%;
    } 
section#main .slider_wrap .subject .controls li.more a::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    height: 2px;
    width: 12px;
    background: #fff;
 } 
section#main .slider_wrap .subject .controls li.more a::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    height: 12px;
    width: 2px;
    background: #fff;
 } 


#buttonList { display: none; position: absolute; top: 300px; left: 50%; } 

section#main .slider_wrap .subject b { color: #1053a5; position: relative; font-size: 24px; font-weight: bold; letter-spacing: -1px; } 
section#main .slider_wrap .subject b::before { content: ""; display: block; width: 1px; height: 18px; background-color: #7f7f7f; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); } 
section#main .slider .subject .progress { height: 5px; width: 300px; position: absolute; }



.main_btn { width: 100%; position: absolute; display: flex; justify-content: space-between; bottom: 40px; left: 0; } 
/* .btn_right { position: absolute; left: -180px; top: 0; } */
.main_btn .btn_left button { font-family: "score"; position: relative; width: 173px; height: 158px; padding: 0 10px 0 0; margin-left: 55px; font-size: 24px; color: #fff; line-height: 1.2; text-align: center; background-color: transparent; cursor: pointer; } 
.main_btn .btn_right button { font-family: "score"; position: relative; width: 173px; height: 158px; padding: 0 10px 0 0; margin-right: 55px; font-size: 24px; color: #fff; line-height: 1.2; text-align: center; background-color: transparent; cursor: pointer; z-index: 1; } 
.main_btn button b { display: block; } 
.main_btn .btn_left { padding-bottom: 265px; } 
.main_btn .btn_left button::before { position: absolute; left: 0; top: 0; width: 100%; height: 100%; content: ""; background: url("../images/mvisual_btn1.png"); z-index: -1; } 
.main_btn .btn_left::after { position: absolute; left: -183px; bottom: -8px; width: 472px; height: 291px; content: ""; background: url("../images/mvisual_btn1_bg.png"); } 
.main_btn .btn_right { padding-bottom: 265px; } 
.main_btn .btn_right button::before { position: absolute; left: 0; top: 0; width: 100%; height: 100%; content: ""; background: url("../images/mvisual_btn2.png"); z-index: -1; } 
.main_btn .btn_right::after { position: absolute; right: -45px; bottom: -14px; width: 336px; height: 316px; content: ""; background: url("../images/mvisual_btn2_bg.png"); } 
.main_btn button:hover::before { transform: rotate(-180deg) translate(6px, 4px); transition: all 1s; } 

/* pick */
section h4.title { font-family: "score"; font-weight: 300; } 
section h4 span { font-weight: 600; } 

section#pick { position: relative; margin-bottom: 140px; padding-top: 90px; } 
section#pick::before { position: absolute; left: 55%; top: 340px; z-index: -1; width: 1850px; height: 1140px; transform: translateX(-50%); content: ""; background: url("../images/mcont2_bg.png") no-repeat; } 
section#pick .li { position: absolute; overflow: hidden; left: 50%; top: 5px; width: 145px; height: 139px; margin-left: -270px; background: url("../images/title_bg1.png") no-repeat left bottom; } 
section#pick .li b { display: block; position: absolute; left: -3px; bottom: -2px; width: 145px; height: 120px; background: url("../images/title_il1.png"); background-size: 100%; opacity: 1; /* 애니메이션들어가야함!!!! */}
section#pick .li::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background: url("../images/title_bg2.png") no-repeat left bottom; background-size: 100%; } 
section#pick .ani1 { position: absolute; top: -78px; left: 200px; width: 73px; height: 73px; background: url("../images/mcont1_ani1.png"); animation: fire1 2s ease-out both infinite; transform-origin: center; animation-delay: 0.5s; } 
@keyframes fire1 { 0%,
 40% { transform: scale(0); opacity: 0; } 
 80%,
 100% { transform: scale(1); opacity: 1; } 
 }
section#pick .ani2 { position: absolute; top: -130px; right: 470px; width: 45px; height: 45px; background: url("../images/mcont1_ani1.png"); background-size: 100%; animation: fire1 2s ease-out both infinite; transform-origin: center; } 
@keyframes fire1 { 0%,
 40% { transform: scale(0); opacity: 0; } 
 80%,
 100% { transform: scale(1); opacity: 1; } 
 }
section#pick .ani3 { position: absolute; top: -110px; right: 160px; width: 98px; height: 98px; background: url("../images/mcont1_ani2.png"); background-size: 100%; animation: fire1 2s ease-out both infinite; transform-origin: center; animation-delay: 0.2s; } 
@keyframes fire1 { 0%,
 40% { transform: scale(0); opacity: 0; } 
 80%,
 100% { transform: scale(1); opacity: 1; } 
 }

section h4 { font-size: 56px; color: #222; line-height: 1; text-align: center; font-weight: normal; margin-bottom: 5px; } 
section h4 + p { font-size: 16px; font-family: "ng"; line-height: 2.6; color: #555; font-weight: 300; text-align: center; } 

/* tab menu */
.tab-content{position: relative; min-height: 330px;}
.tab-content>ul{position: absolute;}
#pick .pick_btn .tab { justify-content: center; margin: 24px 0; } 
#pick .pick_btn .tab li { position: relative; width: 170px; margin: 0 8px; background-color: #71879b; line-height: 50px; display: block; border-radius: 170px; transition: background-color 0.3s; } 
#pick .pick_btn .tab li:hover,
#pick .pick_btn .tab li:active,
#pick .pick_btn .tab li:focus { background-color: #1053a5; } 
#pick .pick_btn .tab li a { width: 100%; display: block; color: #fff; text-align: center; } 
#pick .pick_btn .tab li a.active { background-color: #1053a5;border-radius: 170px; } 
#pick .pick_btn .tab li a span { vertical-align: middle; margin-right: 5px; margin-bottom: 5px; content: ""; display: inline-block; } 
#pick .pick_btn .tab li.tab1 a span { width: 24px; height: 28px; background: url(../images/main_ir.png) -26px 0; } 
#pick .pick_btn .tab li.tab2 a span { width: 32px; height: 28px; background: url(../images/main_ir.png) -53px 0; } 
#pick .pick_btn .tab li.tab3 a span { width: 31px; height: 28px; background: url(../images/main_ir.png) -89px 0; } 
#pick .pick_btn .tab li.tab4 a span { width: 24px; height: 28px; background: url(../images/main_ir.png) -121px 0; } 

#pick .inner { position: relative; padding-bottom: 30px; } 

.tab-content> ul.df { justify-content: space-between; align-items: flex-end; margin-top: 50px; font-family: "ng"; } 
.tab-content> ul.df li { width: 257px; overflow: hidden; height: 328px; border-radius: 18px; box-shadow: 10px 0 15px rgb(0 0 0 / 15%); background-color: #fff; } 

.tab-content> ul.df li:nth-child(1) { margin: 0 0 100px; } 
.tab-content> ul.df li:nth-child(2) { margin: 0 0 50px; } 
.tab-content> ul.df li:nth-child(4) { box-shadow: 10px 0 15px rgb(0 0 0 / 15%); margin: 0 0 100px; } 
.tab-content> ul.df li:nth-child(5) { box-shadow: -15px 5px 15px rgb(0 0 0 / 15%); margin: 0 0 50px; } 

.tab-content> ul.df li .thumb { position: relative; height: 210px; } 
.tab-content> ul.df li .thumb img { width: auto; height: 100%; } 
.tab-content> ul.df li .thumb::after { position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 26px; background: url("../images/mcont1_imgbg.png"); content: ""; } 

.tab-content> ul.df li .txt { padding: 20px; text-align: center; line-height: 1.4; color: #797979; font-weight: 500; } 
.tab-content> ul.df li .txt b { display: block; font-size: 20px; color: #3d3d3d; font-weight: 900; line-height: 1.2; letter-spacing: -0.05em; margin-bottom: 10px; } 

/* location */
section#location .li { position: absolute; overflow: hidden; left: 50%; top: -85px; width: 194px; height: 139px; margin-left: -260px; background: url("../images/title_bg1.png") no-repeat left bottom; } 
section#location .li b { display: block; position: absolute; left: 0px; bottom: 0; width: 145px; height: 120px; background: url("../images/title_il2.png"); background-size: 100%; opacity: 1; /* 애니메이션들어가야함!!!! */}
section#location .li::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background: url("../images/title_bg2.png") no-repeat left bottom; } 
section#location .li a { display: block; position: absolute; right: 0; top: 0; z-index: 1; width: 83px; height: 83px; background: url("../images/title_il2_1.png"); font-size: 0; } 
#location { position: relative; padding-bottom: 240px; } 
#location .inner { padding: 0 100px; justify-content: space-between; } 
#location .vr { margin-top: 60px; } 
#location .vr .vr_slider { width: 46%; min-height: 230px; box-shadow: 5px 0 15px rgb(0 0 0 / 30%); background-color: #fff; border-radius: 20px; overflow: hidden; } 
#location .vr .vr_slider .vr_img { overflow: hidden; display: block; position: absolute; left: 35px; top: 45px; width: 165px; height: 165px; padding: 10px; border-radius: 50%; } 
#location .vr .vr_slider .vr_img img { position: absolute; left: 50%; top: 50%; height: 100%; width: auto; transform: translate(-50%, -50%); } 
#location .vr .vr_slider::after { position: absolute; left: 25px; top: 36px; width: 179px; height: 179px; border-radius: 50%; border: 2px solid #e9eef3; content: ""; } 
#location .vr .vr_slider .txt { padding: 65px 30px 30px 230px; font-family: "ng"; color: #555; line-height: 2; } 
#location .vr .vr_slider .txt b { font-size: 20px; color: #000; font-family: "score"; font-weight: 800; line-height: 1.4; display: block; } 
#location .vr .vr_slider .txt p { width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 20px; } 
#location .vr .vr_slider .txt b span { font-size: 20px; color: #089788; font-weight: 800; } 
#location .vr .vr_slider .txt ul li { position: relative; padding: 0 0 0 20px; } 
#location .vr .vr_slider .txt ul li a { color: #444; font-weight: 300; } 
#location .vr .vr_slider .txt ul li:first-child span { position: absolute; left: 0; top: 50%; transform: translateY(-50%); content: ""; display: block; width: 16px; height: 19px; background: url("../images/main_ir.png") 0 -30px; } 
#location .vr .vr_slider .txt ul li:nth-child(2) span { position: absolute; left: 0; top: 50%; transform: translateY(-50%); content: ""; display: block; width: 16px; height: 19px; background: url("../images/main_ir.png") -17px -30px; } 

#location .vr .vr_slider .vr_btn { width: 100%; background-color: #089788; } 
#location .vr .vr_slider .vr_btn li { width: 100%; position: relative; padding-left: 20px; } 
#location .vr .vr_slider .vr_btn li:first-child:after { position: absolute; right: 0; top: 50%; margin-top: -16px; width: 2px; height: 32px; border-left: 2px dotted #7ec9c1; content: ""; } 
#location .vr .vr_slider .vr_btn li:first-child span { width: 16px; background: url("../images/main_ir.png"); } 
#location .vr .vr_slider .vr_btn a { width: 100%; display: block; text-align: center; line-height: 89px; color: #fff; font-family: "ng"; font-weight: 700; } 

#location .vr .vr_map { width: 50%; } 
#location .vr .vr_map img { position: absolute; display: block; top: -220px; right: -150px; } 

/* quick */
#quick .bg1 { position: absolute; left: 0; top: -303px; width: 454px; height: 338px; background: url("../images/mcont3_il3.png"); background-size: 100%; content: ""; } 
#quick .bg1::before { position: absolute; left: 0; top: 0px; width: 100%; height: 100%; background: url("../images/mcont3_il3_1.png"); background-size: 100%; content: ""; animation: blink-1 3s both infinite; } 
#quick .bg2 { position: absolute; left: 50%; top: -10px; width: 93px; height: 101px; background: url("../images/mcont3_il2.png"); transform: translateX(-700px); } 
#quick .bg3 { position: absolute; left: 50%; top: -155px; width: 156px; height: 113px; background: url("../images/mcont3_il1_1.png"); background-size: 100%; transform: translateX(-290%); } 
#quick .bg3 span.men1 { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/mcont3_il1_2_1.png"); background-size: 100%; content: ""; } 
#quick .bg3 span.men1::before { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/mcont3_il1_2.png"); background-size: 100%; content: ""; animation: bounce-top 2s both infinite; } 

#quick .bg3 span.men2 { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/mcont3_il1_3_1.png"); background-size: 100%; content: ""; } 
#quick .bg3 span.men2::before { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/mcont3_il1_3.png"); background-size: 100%; content: ""; animation: bounce-top 2s both infinite; animation-delay: 0.5s; } 
#quick .bg4 { position: absolute; right: 0; top: -330px; width: 379px; height: 534px; background: url("../images/mcont3_il4.png"); background-size: 100%; overflow: hidden; } 
#quick .bg4::before { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/mcont3_il4_1.png); background-size: 100%; animation: shake-horizontal 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both infinite; content: ""; } 
#quick .bg4::after { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/mcont3_il4_2.png); background-size: 100%; animation: shake-horizontal 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both infinite; content: ""; animation-delay: 0.5s; } 

#quick { position: relative; /* padding: 60px 0 0; */
 margin-top: 180px; } 
#quick .inner > .df { box-shadow: 10px 0 20px rgb(0 0 0 / 30%); border-radius: 100px 0 100px 0; margin: 30px 100px 45px; } 

@keyframes top-bottom { 0%,
 100% { transform: translateY(0); } 
 50% { transform: translateY(-10px); } 
 }
@keyframes rotate-center { 
 0% { -webkit-transform: rotate(0); transform: rotate(0); } 
 100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); } 
 }
@keyframes fire1 { 0%,
 40% { transform: scale(0); opacity: 0; } 
 80%,
 100% { transform: scale(1); opacity: 1; } 
 }
@keyframes opacity { 
 0% { opacity: 0; } 
 100% { opacity: 1; } 
 }
@-webkit-keyframes slide-in-fwd-bottom { 
 0% { -webkit-transform: translateZ(-1400px) translateY(800px); transform: translateZ(-1400px) translateY(800px); opacity: 0; } 
 100% { -webkit-transform: translateZ(0) translateY(0); transform: translateZ(0) translateY(0); opacity: 1; } 
 }
@keyframes slide-in-fwd-bottom { 
 0% { -webkit-transform: translateZ(-1400px) translateY(800px); transform: translateZ(-1400px) translateY(800px); opacity: 0; } 
 100% { -webkit-transform: translateZ(0) translateY(0); transform: translateZ(0) translateY(0); opacity: 1; } 
 }
@-webkit-keyframes shake-horizontal { 0%,
 100% { -webkit-transform: translateX(0); transform: translateX(0); } 
 10%,
 30%,
 50%,
 70% { -webkit-transform: translateX(-10px); transform: translateX(-10px); } 
 20%,
 40%,
 60% { -webkit-transform: translateX(10px); transform: translateX(10px); } 
 80% { -webkit-transform: translateX(8px); transform: translateX(8px); } 
 90% { -webkit-transform: translateX(-8px); transform: translateX(-8px); } 
 }
@keyframes shake-horizontal { 0%,
 100% { -webkit-transform: translateX(0); transform: translateX(0); } 
 10%,
 30%,
 50%,
 70% { -webkit-transform: translateX(-10px); transform: translateX(-10px); } 
 20%,
 40%,
 60% { -webkit-transform: translateX(10px); transform: translateX(10px); } 
 80% { -webkit-transform: translateX(8px); transform: translateX(8px); } 
 90% { -webkit-transform: translateX(-8px); transform: translateX(-8px); } 
 }
@-webkit-keyframes blink-1 { 0%,
 50%,
 100% { opacity: 1; } 
 25%,
 75% { opacity: 0; } 
 }
@keyframes blink-1 { 0%,
 50%,
 100% { opacity: 1; } 
 25%,
 75% { opacity: 0; } 
 }
@keyframes bounce-top { 24% { opacity: 1; } 
 60% { -webkit-transform: translateY(-24px); transform: translateY(-24px); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; } 
 85% { -webkit-transform: translateY(-12px); transform: translateY(-12px); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; } 
 30%,
 50% { -webkit-transform: translateY(0); transform: translateY(0); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } 
 0%,
 100% { -webkit-transform: translateY(0); transform: translateY(0); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; opacity: 1; } 
 }

#quick::before { content: ""; display: block; position: absolute; left: 50%; top: -10%; transform: translateX(-50%); width: 200%; height: 130%; background-color: #3ca479; border-radius: 107%; z-index: -1; } 
#quick h4,
#quick h5,
#quick p { color: #fff; } 
#quick .n1 { width: 33%; padding: 55px 60px; background: #cf9820; border-radius: 100px 0 0 0; } 
#quick .n1 select { width: 100%; } 
#quick h5 { font-size: 24px; margin-bottom: 5px; line-height: 1.2; } 
#quick p { line-height: 1.3; margin-bottom: 30px; font-weight: 200; } 
#quick select { width: 100%; height: 100%; padding: 0 28px 0 20px; font-size: 18px; font-weight: 600; color: #fff; cursor: pointer; border: 0; /* //기본 스타일 제거 */
 -webkit-appearance: none; /* for chrome */
 -moz-appearance: none; /*for firefox*/
 appearance: none; box-sizing: border-box; /* //select 박스의 크기 방식 지정. */
 background: transparent; /* //배경색 투명 처리 */}

#quick select::-ms-expand { display: none; /*for IE10,11*/}
#quick .select_wrap { width: 100%; height: 60px; border-radius: 10px; background: #eaaf00; margin: 0 0 16px; position: relative; overflow: hidden; } 

#quick .select_wrap select option { background-color: #eaaf00; border: 1px solid #fff; } 
#quick .select_wrap .icon1,
#quick .select_wrap .icon2,
#quick .select_wrap .icon3 { position: relative; left: 0; top: 0; background-color: #fff; height: 100%; width: 90px; } 
#quick .select_wrap .icon1::before { position: absolute; content: ""; display: block; width: 23px; height: 29px; left: 50%; top: 50%; transform: translate(-50%, -50%); background-image: url("../images/main_ir.png"); background-position: -96px -27px; z-index: 1; } 
#quick .select_wrap .icon2::before { position: absolute; content: ""; display: block; width: 23px; height: 29px; left: 50%; top: 50%; transform: translate(-50%, -50%); background-image: url("../images/main_ir.png"); background-position: -122px -27px; z-index: 1; } 
#quick .select_wrap .icon3::before { position: absolute; content: ""; display: block; width: 23px; height: 29px; left: 50%; top: 50%; transform: translate(-50%, -50%); background-image: url("../images/main_ir.png"); background-position: -148px -27px; z-index: 1; } 
#quick .n1 a { margin-top: 30px; background-color: #bc6c05; border-radius: 30px; line-height: 50px; font-weight: 600; color: #fff; display: block; text-align: center; } 
#quick .n1 a::after { content: ""; display: inline-block; position: relative; width: 17px; height: 17px; margin: 0 0 3px 6px; background: url("../images/main_ir.png") -174px -28px; vertical-align: middle; } 

#quick .n2 { width: 67%; flex-wrap: wrap; } 
#quick .n2 a { color: #fff; display: block; padding: 40px 45px; } 
#quick .n2 li { width: calc(100% / 2); position: relative; } 
#quick .n2 li:nth-child(1) { background-color: #008ce5; } 
#quick .n2 li:nth-child(2) { background-color: #06bfcb; } 
#quick .n2 li:nth-child(3) { background-color: #1b63c4; } 
#quick .n2 li:nth-child(4) { background-color: #4f72d6; border-radius: 0 0 100px 0; } 

#quick .n2 li .more_btn { background: rgba(0, 0, 0, 0.2); margin-top: 55px; padding: 0 10px; font-size: 15px; border-radius: 30px; font-weight: 500; line-height: 35px; display: inline-block; } 
#quick .n2 li .more_btn::after { position: relative; top: -2px; width: 14px; height: 10px; margin-left: 5px; background: url(../images/main_ir.png) -175px -49px; vertical-align: middle; content: ""; display: inline-block; } 
#quick .n2 li:nth-child(1)::after { background: url(../images/box2_bg.png); position: absolute; content: ""; right: 30px; bottom: 35px; width: 137px; height: 129px; } 
#quick .n2 li:nth-child(2)::after { background: url(../images/box3_bg.png); position: absolute; content: ""; right: 30px; bottom: 35px; width: 163px; height: 128px; } 
#quick .n2 li:nth-child(3)::after { background: url(../images/box4_bg.png); position: absolute; content: ""; right: 30px; bottom: 35px; width: 114px; height: 114px; } 
#quick .n2 li:nth-child(4)::after { background: url(../images/box5_bg.png); position: absolute; content: ""; right: 30px; bottom: 35px; width: 114px; height: 114px; } 

#quick .notice { border: 2px solid #fff; display: flex; position: relative; height: 80px; margin: 0 100px 50px; padding: 0 60px 0 160px; border-radius: 20px; } 
#quick .notice h5 { color: #f6e200; font-size: 24px; line-height: 1.2; display: block; position: absolute; left: 30px; top: 52%; transform: translateY(-50%); } 
#quick .notice ul { width: 100%; } 
#quick .notice ul li { overflow: hidden; position: relative; margin-bottom: 10px; padding: 0 30px; width: 50%; } 
#quick .notice ul li a { display: block; width: 95%; line-height: 76px; letter-spacing: 0.3px; position: relative; padding: 2px 100px 2px 11px; color: #fff; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; } 
#quick .notice ul li a span { position: absolute; right: 0; top: 0; } 

#quick .icon_link a { display: block; position: relative; font-size: 18px; text-align: center; font-weight: 500; } 
#quick .icon_link span { display: block; width: 102px; height: 102px; margin: 0 auto 15px; background: url(../images/main_ir.png); position: relative; z-index: 1; } 
#quick .icon_link .site_icon1 { background-position: 0 -67px; } 
#quick .icon_link .site_icon2 { background-position: -102px -67px; } 
#quick .icon_link .site_icon3 { background-position: -205px -67px; } 
#quick .icon_link .site_icon4 { background-position: -307px -67px; } 
#quick .icon_link .site_icon5 { background-position: -409px -67px; } 
#quick .icon_link .site_icon6 { background-position: -511px -67px; } 
#quick .icon_link .site_icon7 { background-position: -613px -67px; } 
#quick .icon_link ul.df { padding: 0 100px 80px; } 
#quick .icon_link li { width: calc(100% / 7); } 

/* footer */
footer { background: url(../images/footer_bg.png) center top; margin-top: -37px; padding: 90px 0 70px; background-size: cover; text-align: center; color: #fff; font-size: 14px; font-weight: 300; } 
footer ul { justify-content: center; padding-top: 10px; } 
footer ul li { padding: 0 20px; position: relative; } 
footer ul li::before { content: ""; position: absolute; right: 0; top: 50%; width: 1px; height: 14px; margin-top: -7px; background-color: #fff; } 
footer ul li:last-child:before { display: none; } 
footer a { color: #fff; } 
footer .df { padding-top: 20px; width: 100%; justify-content: center; } 
footer .df p { padding-left: 20px; } 
footer .df p::before { position: absolute; left: 10px; top: 50%; margin-top: -7px; width: 1px; height: 14px; background-color: #fff; content: ""; } 
footer address { font-style: normal; } 
footer address span { margin-left: 10px; } 
